<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.My.MySettings.adressenConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\adressen.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="posTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="posHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="winState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mwst" serializeAs="String">
                <value>19</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>